@font-face {
    font-family: 'AlanaPro';
    src: url("./fonts/Alana_Pro_RUS.otf") format("opentype");
}
@font-face {
    font-family: 'Gardens';
    src: url("./fonts/gardensC/GardensC_03_1.otf") format("opentype");
}
@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy/Gilroy-Light.otf") format("opentype");
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html body .modal-xl {
    width: 900px;
}

html body .modal-dialog {
    width: 900px;
}

@media (min-width: 768px) and (max-width: 991px) {
    html body .modal-dialog {
        width: 748px;
    }
}

@media (max-width: 767px) {
    html body .modal-dialog {
        position: relative;
        width: auto;
        margin: 11px;
    }
}

html body .modal-close {
    color: #a8a8aa;
}

html body a {
    -webkit-text-decoration: none;
    text-decoration: none;
}




.css-1row1n4 {
    position: relative;
    background-color: #F9F8F2;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-attachment: inherit;
    min-height: 100vh;
}












